<main>
    <div class="container">
      <div class="card-panel">

      <ul class="tile">
        <div id="gig-content">
        <img class="tile" src="<%= user.profile_picture %>">
        </div>
      </ul>
      <div id="name">
      <p><%= user.first_name + " " + user.last_name %></p>
      </div>
    </div>
    </div>
    <div class="container" id="activitycolumns">
      <div class="row">
        <ul>
          <li><div class="col s6" id="lefthalf" ><a href="#!" class="go-to-group-page" name="<%= groupIdToGroupPage(groups[0]) %>"><%= displayGroup(groups[0]) %></a></div></li>
          <li><div class="col s6" id="righthalf"><a href="#!" class="go-to-group-page" name="<%= groupIdToGroupPage(groups[1]) %>"><%= displayGroup(groups[1]) %></a></div></li>
        </ul>
      </div>
    </div>
    <div class="container" id="activitycolumns">
      <div class="row">
        <ul>
          <li><div class="col s6" id="lefthalf"><a href="#!" class="go-to-group-page" name="<%= groupIdToGroupPage(groups[2]) %>"><%= displayGroup(groups[2]) %></a></div></li>
          <li><div class="col s6" id="righthalf"><a href="#!" class="go-to-group-page" name="<%= groupIdToGroupPage(groups[3]) %>"><%= displayGroup(groups[3]) %></a></div></li>
        </ul>
      </div>
    </div>
  </main>
  